@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-royal-950 text-slate-300 font-sans antialiased;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-royal-950;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-slate-700 rounded-full;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-600;
}

.glass-panel {
  @apply bg-royal-900/50 backdrop-blur-md border border-slate-700/30;
}